*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style: none;
}

.allcontainer{
    width: 100%;
}

#light{
    background-color: #fff;
}

#light .span{
    color: #000;
    font-weight: bold;
}

#light .div span{
    color: #222;
}

#dark .containerAbout{
    background-color: #333;
}

#dark .span{
    color: #fff;
}

#dark .project{
    background-color: #444;
}

#dark .project span{
    color: #fff;
}

#dark .project a{
    color: yellow;
}

#dark .headercontainer{
    background-color: #222;
}

#dark .detailse p{
    color: #fff;
}
#dark .detailse span{
    color: #fff;
}

#dark .h1{
    color: #fff;
}

#dark{
    background-color: #333;
}